/* .title::before {
    content: "";
}
.title::after {
    content: "b";
} */

.title::after {
    content: "";
    display: block;
    width: 0;
    height: 4px;
    background-color: red;
    transition: all 0.4s linear;
}

.title:hover::after {
    width: 50px;
}
.box::after {
    content: attr(data-name);
}
.box::first-line {
    color: red;
}
.box::first-letter {
    font-size: 100px;
    font-style: italic;
    font-weight: 600;
}
.box::selection {
    background: black;
    color: chartreuse;
}
.name::placeholder {
    color: red;
}