* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.product {
    width: 200px;
    border: 1px solid #ddd;
    margin: 30px auto;
    position: relative;
}
.product img {
    max-width: 100%;
    height: auto;
    display: block;
}
.product .product-info {
    padding: 15px;
}
.product .sale {
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: red;
    color: #fff;
    border-radius: 4px 0 0 0;
    padding: 3px 7px;
}
.images {
    position: relative;
}
